.carte {
	background-color: white;
	padding: 16px;
	border-radius: 20px;
	margin: 16px;
	text-align: center;
	box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 40%);
}

.cartes {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.carte img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 25%;
}

@media (min-width: 576px) {
  .cartes {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .cartes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
