@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("components/cartes.css");
@import url("components/carousel.css");
@import url("components/footer.css");
@import url("components/tableau.css");
@import url("components/forms.css");

a{
	text-decoration: none;
	font-family: "Comfortaa";
}

body{
	background-color: #fff9ee;
}


h1, h2, h3, h4{
	font-family: "Comfortaa", cursive;
}

h2{
	margin: 50px;
}

nav {
	background-color: #fff9ee;
}


#block-1{
	background-color: #2F4050;
	margin: 30px;
}

#block-2{
	background-color: #F0CED1;
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 30px;
}

#contact{
	display: grid;
	align-content: center;
	text-align: center;
	font-family: "Comfortaa", cursive;
}
